!!! 5
html
  head
    meta(charset='utf-8')
    title JIGSAW's SHOWTIME!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    img#back(src='/images/univ.png')
    #charactorField
      img#shika(src='/images/shika.png')
      img#daibutsu(src='/images/daibutsu.png')
      img#jigsaw(src='/images/takanootoshigo.png')
    #displayField
      #name
      #message
    #modalBack